@import "tailwindcss";

@theme {
  --font-sans: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

  --color-brand-25: #fcf9f7;
  --color-brand-50: #f8eee8;
  --color-brand-100: #f0ddd2;
  --color-brand-200: #e4c0ae;
  --color-brand-300: #d59b80;
  --color-brand-400: #c17756;
  --color-brand-500: #aa5c3b;
  --color-brand-600: #91472c;
  --color-brand-700: #783923;
  --color-brand-800: #62301f;
  --color-brand-900: #51291d;

  --color-success-600: #079455;
}

:root {
  font-family: var(--font-sans);
  color: #101828;
  background: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  min-width: 320px;
}

button,
a,
summary {
  -webkit-tap-highlight-color: transparent;
}
